table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    border: 1px solid #94a3b8;
    padding: 8px;
  }
  td{
    border: 1px solid #94a3b8;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }

  tfoot td {
    font-weight: bold;
  }
  tr > td > input {
    width: 100%;
    outline: none;
    padding: 5px;
    padding-left: 10px;
  }